<!DOCTYPE html>
<html lang="en-US">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>안수찬 | DreamPic.NET</title>
	<link rel="profile" href="http://gmpg.org/xfn/11" />
	<link rel="pingback" href="http://dreampic.net/xmlrpc.php" />

		<link rel="alternate" type="application/rss+xml" title="안수찬 &raquo; Feed" href="http://dreampic.net/feed/" />
<link rel="alternate" type="application/rss+xml" title="안수찬 &raquo; Comments Feed" href="http://dreampic.net/comments/feed/" />
<link rel='stylesheet' id='googlefonts-css'  href='http://fonts.googleapis.com/css?family=ABeeZee' type='text/css' media='all' />
<link rel='stylesheet' id='prettyphoto-style-css'  href='http://dreampic.net/wp-content/themes/shiftCV/cv/js/prettyphoto/css/prettyPhoto.css?ver=3.7.1' type='text/css' media='all' />
<link rel='stylesheet' id='mediaplayer-style-css'  href='http://dreampic.net/wp-content/themes/shiftCV/cv/js/mediaplayer/mediaelementplayer.css?ver=3.7.1' type='text/css' media='all' />
<link rel='stylesheet' id='jquery_reject-style-css'  href='http://dreampic.net/wp-content/themes/shiftCV/cv/js/jreject/css/jquery.reject.css?ver=3.7.1' type='text/css' media='all' />
<link rel='stylesheet' id='shift_cv-style-css'  href='http://dreampic.net/wp-content/themes/shiftCV/cv/style.css?ver=3.7.1' type='text/css' media='all' />
<link rel='stylesheet' id='theme_dark-css'  href='http://dreampic.net/wp-content/themes/shiftCV/cv/css/dark-theme.css?ver=3.7.1' type='text/css' media='all' />
<link rel='stylesheet' id='shortcodes-css'  href='http://dreampic.net/wp-content/themes/shiftCV/cv/css/shortcodes.css?ver=3.7.1' type='text/css' media='all' />
<link rel='stylesheet' id='responsive-css'  href='http://dreampic.net/wp-content/themes/shiftCV/cv/css/responsive.css?ver=3.7.1' type='text/css' media='all' />
<link rel='stylesheet' id='font_awesome-css'  href='http://dreampic.net/wp-content/themes/shiftCV/cv/includes/font-awesome/css/font-awesome.min.css?ver=1.0' type='text/css' media='screen' />
<link rel='stylesheet' id='lato-css'  href='http://fonts.googleapis.com/css?family=Lato%3A400%2C700&#038;ver=3.7.1' type='text/css' media='all' />
<link rel='stylesheet' id='custom-style-css'  href='http://dreampic.net/wp-content/themes/shiftCV/cv/css/custom.css?ver=3.7.1' type='text/css' media='all' />
<style type='text/css'>

	#blog_page_link,
	#blog_page_link .icon,
	#blog_page_link span.label,
	.colored td.cl1 { 
		background-color: #267ac8;
	}
	#profile_page_link,
	#profile_page_link .icon,
	#profile_page_link span.label,
	.colored td.cl2 {
		background-color: #019875;
	}
	.section_header.profile_section_header .section_title .section_name,
	.section_header.profile_section_header .section_title a span.icon {
		background-color: #019875;
	}
	#resume_link_download,
	#resume_link_download  span.label,
	#resume_link_download  span.icon {
		background: #019875;
	}
	.section_header .section_title.portfolio_section_title a span.icon,
	.colored td.cl4 {
		background-color: #980101;
	}    
	
	#mainpage_accordion_area .section_header.contact_section_header a span.icon,
	.colored td.cl5,
	.sc_contact_form .title:after {
		background-color: #815b97;
	}
	.section_header .section_title.resume_section_title a span.icon,
	.colored td.cl3,
	#resume_link,
	#resume_link span.label,
	#resume_link span.icon {
		background-color: #cb8d44;
	}
	.section_header .section_title a span.icon, 
	.section_header .section_title strong span.icon {
		background-color: #267ac8;
	}
	.blog_section .section_header .section_title .section_name {
		background-color: #267ac8;
	}
	.section_header.gallery .section_title strong span.section_name, 
	.section_header.gallery .section_title strong span.icon {
		background-color: #019875;
	}
	.section_header.audio .section_title strong span.section_name,
	.section_header.audio .section_title strong span.icon {
		background-color: #cb8d44;
	}
	.section_header.video .section_title strong span.section_name,
	.section_header.video .section_title strong span.icon {
		background-color: #980101;
	}
	.section_header.link .section_title strong span.section_name,
	.section_header.link .section_title strong span.icon {
		background-color: #815b97;
	}
	.section_header.quote .section_title strong span.section_name,
	.section_header.quote .section_title strong span.icon {
		background-color: ;
	}

</style>
<script type='text/javascript' src='http://dreampic.net/wp-includes/js/jquery/jquery.js?ver=1.10.2'></script>
<script type='text/javascript' src='http://dreampic.net/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.2.1'></script>
<link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://dreampic.net/xmlrpc.php?rsd" />
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://dreampic.net/wp-includes/wlwmanifest.xml" /> 
<meta name="generator" content="WordPress 3.7.1" />
<style type='text/css' media='screen'>
	@import url("http://fonts.googleapis.com/earlyaccess/nanumgothic.css" ) ;
body, h1, h2, h3, h4, h5, h6, li, p { font-family:"Nanum Gothic" !important ; }
</style>
<!-- fonts delivered by Wordpress Google Fonts, a plugin by Adrian3.com -->	<style type="text/css">.recentcomments a{display:inline !important;padding:0 !important;margin:0 !important;}</style>
	</head>

<body class="home blog dark">
	<!--[if lt IE 8]>
	
		<div class="sc_infobox sc_infobox_style_error">
			It looks like you're using an old version of Internet Explorer. For the best WordPress experience, please <a href="http://microsoft.com">update your browser</a> or learn how to <a href="http://browsehappy.com">browse happy</a>!
		</div>
			<![endif]-->
	<table class="colored">
		<tr>
			<td class="cl1"></td>
			<td class="cl2"></td>
			<td class="cl3"></td>
			<td class="cl4"></td>
			<td class="cl5"></td>
		</tr>
	</table>
	    <div id="page" class="hfeed site">
                <header id="header" class="site_header" role="banner">
							<div class="social_links">
					<ul>
												<li class="fb"><a target="_blank" href="http://www.facebook.com/dobestan">Facebook</a></li>																																			</ul>
				</div>
			        </header>
	
		        
	    <div id="main" >
	<div id="primary" class="content_area">
		<div id="content" class="site_content" role="main">

			<section id="profile" class="section profile_section first odd">
										<a href="http://dreampic.net/blog-posts/" id="blog_page_link"><span class="icon-pencil icon"></span><span class="label">Blog</span></a>
								<div class="section_header profile_section_header opened">
										<h2 class="section_title profile_section_title vis"><a href="#"><span class="icon icon-user"></span><span class="section_name">Profile</span></a><span class="section_icon"></span></h2>
					<div id="profile_header">
                        <div id="profile_user">
                            <div id="profile_photo"><img src="<%= @image_url %>" alt="AN SUCHAN" /></div>
                                                        <div id="profile_name_area">
                                <div id="profile_name">
                                    <h1 id="profile_title"><span class="firstname"><%= @name %></span></h1>
                                    <h4 id="profile_position"><%= @job %></h4>
                                </div>                              
                            </div>
                        </div>                 
						<div id="profile_data">
							<div class="profile_row">
                                <span class="th">Name:</span><span class="td"><%= @name %></span>
							</div>
							<div class="profile_row">
                                <span class="th">Date of birth:</span><span class="td"><%= @birthday %></span>
							</div>
							<div class="profile_row">
								<span class="th">Address:</span><span class="td"><%= @address %></span>
							</div>
							<div class="profile_row">
                                <span class="th">Phone:</span><span class="td"><%= @phone %></span>
							</div>
							<div class="profile_row">
                                <span class="th">Email:</span><span class="td"><%= @email =%></span>
							</div>
						</div>
						
					</div>	
				</div>
				<div class="section_body profile_section_body">
					<div class="proile_body">
                        <%= @profile %>
                    </div>			
				</div>
			</section>	


<div id="mainpage_accordion_area">



			<section id="contact" class="section contact_section even">
				<div class="section_header contact_section_header">
					<h2 class="section_title contact_section_title"><a href="#"><span class="icon icon-envelope-alt"></span><span class="section_name">Contacts</span></a><span class="section_icon"></span></h2>
				</div>
				<div class="section_body contact_section_body">
					                    <div id="googlemap_data">
                    	
	    <script type="text/javascript">
	    	jQuery(document).ready(function(){
                    googlemap_init(jQuery("#sc_googlemap").get(0), <%= @address %>);
	    	});
		</script>
		<div id="sc_googlemap" style="width:100%;height:294px;" class="sc_googlemap"></div>
	                    	<div class="add_info">
	                        <div class="profile_row header first">
	                            Contact info	                        </div>
	                        <div class="profile_row address">
                                <span class="th">Address</span><span class="td"><%= @address %></span>
	                        </div>
	                        <div class="profile_row phone">
                                <span class="th">Phone</span><span class="td"><%= @phone %></span>
	                        </div>
	                        <div class="profile_row email">
                                <span class="th">Email</span><span class="td"><%= @email %></span>
	                        </div>
                        </div>
                    </div>
										                	<div class="sidebar contact_sidebar">
						                                                                    </div>
					<div class="contact_form">
                    	<div class="contact_form_data">
							
			<div class="sc_contact_form">
				<h3 class="title">Let's keep in touch</h3>
				<form method="post" action="http://dreampic.net/wp-admin/admin-ajax.php">
					<div class="field">
						<label for="sc_contact_form_username" class="required">Name</label>
						<input type="text" id="sc_contact_form_username" name="username">
                    </div>
					<div class="field">
						<label for="sc_contact_form_email" class="required">Email</label>
						<input type="text" id="sc_contact_form_email" name="email">
                    </div>
					<div class="field message">
						<label for="sc_contact_form_message" class="required">Your Message</label>
						<textarea id="sc_contact_form_message" name="message"></textarea>
                    </div>
					<div class="button">
						<a href="#" class="enter"><span>Submit</span></a>
                    </div>
				</form>
				<div class="result sc_infobox"></div>
				<script type="text/javascript">
					jQuery(document).ready(function() {
						jQuery(".sc_contact_form .enter").click(function(e){
							userSubmitForm();
							e.preventDefault();
							return false;
						});
					});
					function userSubmitForm(){
						var error = formValidate(jQuery(".sc_contact_form form"), {
							error_message_show: true,
							error_message_time: 5000,
							error_message_class: "sc_infobox sc_infobox_style_error",
							error_fields_class: "error_fields_class",
							exit_after_first_error: false,
							rules: [
								{
									field: "username",
									min_length: { value: 1,	 message: empt },
									max_length: { value: 160, message: to_lng}
								},
								{
									field: "email",
									min_length: { value: 7,	 message: empt_mail },
									max_length: { value: 60, message: to_lng_mail},
									mask: { value: "^([a-z0-9_\-]+\\.)*[a-z0-9_\\-]+@[a-z0-9_\-]+(\\.[a-z0-9_\-]+)*\\.[a-z]{2,6}$", message: incor}
								},
								{
									field: "message",
									min_length: { value: 1,  message: mes_empt },
									max_length: { value: 200, message: to_lng_mes}
								}
							]
						});
						if (!error) {
							var user_name  = jQuery(".sc_contact_form #sc_contact_form_username").val();
							var user_email = jQuery(".sc_contact_form #sc_contact_form_email").val();
							var user_site  = jQuery(".sc_contact_form #sc_contact_form_site").val();
							var user_msg   = jQuery(".sc_contact_form #sc_contact_form_message").val();
							var data = {
								action: "submit_contact_form",
								nonce: "6159e94fe4",
								user_name: user_name,
								user_email: user_email,
								user_site: user_site,
								user_msg: user_msg
							};
							jQuery.post("http://dreampic.net/wp-admin/admin-ajax.php", data, userSubmitFormResponse, "text");
						}
					}
					
					function userSubmitFormResponse(response) {
						var rez = JSON.parse(response);
						jQuery(".sc_contact_form .result")
							.toggleClass("sc_infobox_style_error", false)
							.toggleClass("sc_infobox_style_success", false);
						if (rez.error == "") {
							jQuery(".sc_contact_form .result").addClass("sc_infobox_style_success").html("Your message sended!");
							setTimeout("jQuery('.sc_contact_form .result').fadeOut(); jQuery('.sc_contact_form form').get(0).reset();", 3000);
						} else {
							jQuery(".sc_contact_form .result").addClass("sc_infobox_style_error").html("Transmit failed! " + rez.error);
						}
						jQuery(".sc_contact_form .result").fadeIn();
					}
				</script>
			</div>
	                        </div>
                    </div>
									</div> <!-- .section_body -->
			</section> <!-- #contact -->


</div> <!-- #mainpage_accordion_area -->

		</div><!-- #content -->
	</div><!-- #primary -->

    </div><!-- #main -->
	
	<footer id="footer" class="site_footer" role="contentinfo">
		<div class="footer_copyright">
			안 수 찬 ; 2013 All Rights Reserved		</div>
	</footer>

</div><!-- #page -->

<script type='text/javascript' src='http://dreampic.net/wp-content/themes/shiftCV/cv/js/jquery.tools.custom.js?ver=1.2.6'></script>
<script type='text/javascript' src='http://dreampic.net/wp-content/themes/shiftCV/cv/js/jquery.cookie.js?ver=1.0.0'></script>
<script type='text/javascript' src='http://dreampic.net/wp-content/themes/shiftCV/cv/js/skip-link-focus-fix.js?ver=20130115'></script>
<script type='text/javascript' src='http://dreampic.net/wp-content/themes/shiftCV/cv/js/jquery.flexslider.min.js?ver=2.1'></script>
<script type='text/javascript' src='http://dreampic.net/wp-content/themes/shiftCV/cv/js/prettyphoto/jquery.prettyPhoto.js?ver=3.1.5'></script>
<script type='text/javascript' src='http://dreampic.net/wp-content/themes/shiftCV/cv/js/mediaplayer/mediaelement-and-player.min.js?ver=1.0.0'></script>
<script type='text/javascript' src='http://dreampic.net/wp-content/themes/shiftCV/cv/js/jreject/jquery.reject.js?ver=1.0.0'></script>
<script type='text/javascript' src='http://dreampic.net/wp-content/themes/shiftCV/cv/js/jquery.mobilemenu.min.js?ver=1.0.0'></script>
<script type='text/javascript' src='http://dreampic.net/wp-content/themes/shiftCV/cv/js/jquery.easing.js?ver=1.0.0'></script>
<script type='text/javascript' src='http://dreampic.net/wp-content/themes/shiftCV/cv/js/_utils.js?ver=1.0.0'></script>
<script type='text/javascript' src='http://dreampic.net/wp-content/themes/shiftCV/cv/js/_front.js?ver=1.0.0'></script>
<script type='text/javascript' src='http://dreampic.net/wp-content/themes/shiftCV/cv/js/jquery.isotope.min.js?ver=1.5.25'></script>
<script type='text/javascript' src='http://maps.google.com/maps/api/js?sensor=false&#038;ver=1.0.0'></script>
<script type='text/javascript' src='http://dreampic.net/wp-content/themes/shiftCV/cv/js/googlemap_init.js?ver=1.0.0'></script>
<a href="#" id="toTop"></a>
<script type="text/javascript">
    jQuery(document).ready(function() {
        jQuery.reject({
			reject : {
				all: false, // Nothing blocked
				msie5: true, msie6: true, msie7: true // Covers MSIE 5-7
				/*
				 * Possibilities are endless...
				 *
				 * // MSIE Flags (Global, 5-8)
				 * msie, msie5, msie6, msie7, msie8,
				 * // Firefox Flags (Global, 1-3)
				 * firefox, firefox1, firefox2, firefox3,
				 * // Konqueror Flags (Global, 1-3)
				 * konqueror, konqueror1, konqueror2, konqueror3,
				 * // Chrome Flags (Global, 1-4)
				 * chrome, chrome1, chrome2, chrome3, chrome4,
				 * // Safari Flags (Global, 1-4)
				 * safari, safari2, safari3, safari4,
				 * // Opera Flags (Global, 7-10)
				 * opera, opera7, opera8, opera9, opera10,
				 * // Rendering Engines (Gecko, Webkit, Trident, KHTML, Presto)
				 * gecko, webkit, trident, khtml, presto,
				 * // Operating Systems (Win, Mac, Linux, Solaris, iPhone)
				 * win, mac, linux, solaris, iphone,
				 * unknown // Unknown covers everything else
				 */
			},
            imagePath: 'http://dreampic.net/wp-content/themes/shiftCV/cv/js/jreject/images/',
            header: 'Your browser is out of date', // Header Text
            paragraph1: 'You are currently using an unsupported browser', // Paragraph 1
            paragraph2: 'Please install one of the many optional browsers below to proceed',
            closeMessage: 'Close this window at your own demise!' // Message below close window link
        });
    });
        empt = 'Name field can not be empty';
        to_lng = 'Too long name field';
        to_lng = 'Too long name field';
        empt_mail = 'Too short (or empty) email address';
        to_lng_mail = 'Too long email address';
        incor = 'Incorrect email address';
        mes_empt = 'message can not be empty';
        to_lng_mes = 'Too long message';
</script>
</body>
</html>
